<ion-view view-title="Unicorn Search">
  <ion-content ng-controller="SearchCtrl as search" class="padding" data-ng-init="landing()">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input class="search-field"type="search" ng-model="search" placeholder="Search" >
      </label>
      <button class="button button-small" ng-click="doSearch()"> Search</button>
    </div>
      <img collection-repeat="photo in photos"
       item-height="33%" item-width="33%" ng-src="{{photo}}" ng-click="showImages($index)" class="image-list-thumb">
  </ion-content>
</ion-view>
