<!-- <ion-view view-title="Blank Template">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Template Content</div>
      <div class="item item-body">
        <div>
          This is a blank template.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view> -->
<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Trending" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/trending">
    <ion-nav-view name="tab-trending"></ion-nav-view>
  </ion-tab> -->
