
<ion-tabs class="tabs-icon-top tabs-color-active-royal" >
  <!-- Main Tab -->
  <ion-tab title="Unicorn-land" icon-off="ion-home royal" icon-on="ion-home royal" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <!-- <ion-tab title="Search" icon-off="ion-ios-search-strong royal" icon-on="ion-ios-search-strong royal" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->

  <!-- Trending Tab -->
  <ion-tab title="Trending" icon-off="ion-arrow-graph-up-right royal" icon-on="ion-arrow-graph-up-right royal" href="#/tab/trending">
    <ion-nav-view name="tab-trending"></ion-nav-view>
  </ion-tab>
</ion-tabs>
