<ion-tabs class="tab footer tabs-icon-left tabs-assertive">
  <!-- Main Tab -->
  <ion-tab title="Unicorn-land" icon-off="ion-home energized" icon-on="ion-home energized" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search-strong energized" icon-on="ion-ios-search-strong energized" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Trending Tab -->
  <ion-tab title="Trending" icon-off="ion-arrow-graph-up-right energized" icon-on="ion-arrow-graph-up-right energized" href="#/tab/trending">
    <ion-nav-view name="tab-trending"></ion-nav-view>
  </ion-tab>
</ion-tabs>
